.lunave{
 box-sizing: border-box;
 border: solid 1px #D9D9D9;
 background: #D9D9D9;
 color: #000;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 28px;
 position: absolute;
    top: 208px;
    left: 26px;
    font-size: 40px;
    width: 190px;
    height: 60px;
    text-align: center;
    opacity: 0.5;
}

.calculadora{
    position: absolute;
    top: 283px;
    left: 143px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    opacity: 0.5;
}
.lunave   {
    animation-name: silder;
  animation-duration: 5s;
}

@keyframes silder {
  from {left: 0px;}
  to {left: 200px;}

    }
  

  .container{
    overflow: hidden;
  }

  .calculadora
  {
    animation-name: silder;
    animation-duration: 5s;
  }
  
  @keyframes silder {
    from {right: 0px;}
    to {right: 200px;}
  }
      